@{
    ViewData["Title"] = "CreateRole";
}

<h1>CreateRole</h1>

<form asp-action="CreateRole" method="post">
    <input name="newRole" type="text" placeholder="Enter New Role" />
    <button type="submit">Submit</button>
</form>
