@model Answer
@{
    ViewData["Title"] = "EditAnswer";
}

<h1>EditAnswer</h1>

<form asp-action="EditAnswer" asp-route-Id=@Model.Id>
    <textarea asp-for="Content" cols="80">@Model.Content</textarea>
    <button type="submit">Edit</button>
</form>