@model Answer
 <script src="https://cdn.tiny.cloud/1/e3um6m2l73mn5crrv57n0x2isj1fbnqh8bnrgf9xf85a0fa4/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
 <script>tinymce.init({selector: '#mytextarea'});</script>

<h1>EditAnswer</h1>

<form asp-action="EditAnswer" asp-route-Id=@Model.Id>
    <textarea asp-for="Content" cols="80" id="mytextarea">@Model.Content</textarea>
    <button type="submit">Edit</button>
</form>